<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<link rel="stylesheet" href="/bootstrap.min.css">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Selected Book</title>
</head>
<body>  
    <div class = "container">
        
        <!-- <p data-th-text="${test}"></p>  -->
        <div class="d-flex mt-3 mb-3 ">
            <p class="col">
                <img th:src="${book.picLink}" alt="">
            </p>
            <div class="col d-flex ">
                <div class="row mb-3 mt-3">
                    <p data-th-text="'Title: '+${book.title}"></p>
                    <p data-th-text="'Description: '+${book.description}"></p>
                    <p data-th-text="'Execept: '+${book.excerpt}"></p>
                    <p data-th-text="'Cached: '+${isCache}"></p>
                    <a href="/">Back</a>
                </div>
                

                
            </div>
            

        </div>
        
        
    </div>
    



</body>
</html>